<h1>Editing store</h1>

<%= form_for(@store) do |f| %>
	<table class="myTable" >
	  <tr id="head" >
	  	<th> <%= f.label :name %> </th>
	  	<th></th>
		</tr>	
		<tr id="content" >
			<td> <%= f.text_field :name %> </td>
			<td> <%= f.submit %> </td>
		</tr>
	</table>
<% end %>
<br />

<div style="display: table-cell;"> <%= button_to 'Show', @store, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Back', :back, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get %> </div>
