<h1>Listing stores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <% if Address.count > 0 %>
        <td><%= link_to "Address", :action=>"index", :controller=>"addresses" %></td>
    <% else %>
        <td></td>
    <% end %>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path %>
<br />
<% if !@stores.blank? %>
    <%= link_to "Create new Address", new_address_path %>
<% end %>
<br />
<% if !@stores.blank? %>
    <%= link_to "Create new Article", new_article_path %>
<% end %>
