<%= form_for(@purchase_history) do |f| %>
  <% if @purchase_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_history.errors.count, "error") %> prohibited this purchase_history from being saved:</h2>

      <ul>
      <% @purchase_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purchaseDate %><br />
    <%= f.date_select :purchaseDate %>
  </div>
  <div class="field">
    <%= f.label :shoppingList %><br />
    <%= f.text_field :shoppingList %>
  </div>
  <div class="field">
    <%= f.label :article %><br />
    <%= f.text_field :article %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
