<p id="notice"><%= notice %></p>

<p>
  <b>Purchasedate:</b>
  <%= @purchase_history.purchaseDate %>
</p>

<p>
  <b>Shoppinglist:</b>
  <%= @purchase_history.shoppingList %>
</p>

<p>
  <b>Article:</b>
  <%= @purchase_history.article %>
</p>


<%= link_to 'Edit', edit_purchase_history_path(@purchase_history) %> |
<%= link_to 'Back', purchase_histories_path %>
