<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="myTable">
		<tr id="head">
			<th> <%= f.label :street %> </th>
	    <th> <%= f.label :zipcode %> </th>
	    <th> <%= f.label :city %> </th>
	    <th></th>
	  </tr>
		<tr id="content">
			<td> <%= f.text_field :street, :size => 8%></td>
			<td> <%= f.text_field :zipcode, :size => 4 %></td>
			<td> <%= f.text_field :city, :size => 8 %> </td>
			<td>
		    <%= f.submit %>
			</td>
		</tr>
	</table>
<% end %>
