<%= form_for(@shoppinglist) do |f| %>
  <% if @shoppinglist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoppinglist.errors.count, "error") %> prohibited this shoppinglist from being saved:</h2>

      <ul>
      <% @shoppinglist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="myTable" >
		<tr id="head">
			<th> <%= f.label :name %> </th>
    	<th> <%= f.label "Date of creation" %> </th>
    	<% if @current_user.nil? %>
    		<th> <%= f.label :user %> </th>
    	<% end %>
    	<th></th>
	  </tr>
		<tr id="content">
			<td> <%= f.text_field :name, :size => 10 %> </td>
			<td> <%= f.date_select :creationDate %> </td>
			<% if @current_user.nil? %>
				<td> <%= f.select( :user_id, User.all.collect{|p| [ p.username, p.id ] }, {:include_blank => "Choose a User"}) %> </td>
			<% end %>
			<td> <%= f.submit %> </td>
		</tr>
  </table>
<% end %>
