<% if @current_user.nil? %>
	<h1>Listing all shoppinglists</h1>
<% else %>
	<h1> Listing shoppinglists of <%= @current_user.username %></h1>
<% end %>

<hr />
<hr />
<br />

<% if @shoppinglists.empty? %>
  <% if @current_user.nil? %>
  	<p style="font-weight: bolder; color: red;">There are no shoppinglists created yet!!</p>
  <% else %>
  	<p style="font-weight: bolder; color: red;">The User "<%= @current_user.username%>" has no shoppinglists created yet!!</p>
  <% end %>
<% else %>
	<table>
	  <tr id="head">
	    <th>Name</th>
	    <th>Creationdate</th>
	    <% if @current_user.nil?%>
	    <th>Owner</th>
	    <% end %>
	    <th>Articles</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	
	<% @shoppinglists.each do |shoppinglist| %>
	  <tr id="content">
	    <td><%= shoppinglist.name %></td>
	    <td><%= shoppinglist.creationDate %></td>
	    <% if @current_user.nil? %>
	    <td><%= 
	    		tmpuser = User.find_by_id(shoppinglist.user_id)
	    		tmpuser.username
	    	%></td>
	    <% end %>
	    <td><%= button_to 'Articles', select_shoppinglist_path(shoppinglist), method: :get%></td>
	    <td><%= button_to 'Show', shoppinglist, method: :get%></td>
	    <td><%= button_to 'Edit', edit_shoppinglist_path(shoppinglist), method: :get %></td>
	    <td><%= button_to 'Destroy', shoppinglist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>
	<br />
<% end %>

<div style="display: table-cell;"> <%= button_to 'New Shoppinglist', new_shoppinglist_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'All articles', articles_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'All Users', users_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get %> </div>