<p id="notice"><%= notice %></p>

<table>
	<tr id="head">
		<th>Name: </th>
		<th>Creationdate: </th>
		<th>User: </th>
	</tr>
	<tr id="content">
		<td> <%= @shoppinglist.name %> </td>
		<td> <%= @shoppinglist.creationDate %> </td>
		<td> <%= @shoppinglist.user_id %> </td>
	</tr>
</table>
<br />
<div style="display: table-cell;"> <%= button_to 'Edit', edit_shoppinglist_path(@shoppinglist), method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Shoppinglists', shoppinglists_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get%> </div>
