<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="myTable">
		<tr id="head">
			<th> <%= f.label :name %> </th>
			<th> <%= f.label :price %> </th>
			<% if Store.all.count > 0 %>
				<th> <%= f.label :stores %></th>
			<% end %>
			<th> </th>
		</tr>
		<tr id="content">
			<td> <%= f.text_field :name %> </td>
			<td> <%= f.text_field :price, :size => 6 %> </td>
			<% if Store.all.count > 0 %>
				<td> <%= select_tag :stores, options_from_collection_for_select( Store.all, :id, :name ), :include_blank => true, :multiple => true, :size => 3 %></td>
			<% end %>
			<td> <%= f.submit %> </td>
		</tr>
	</table>
<% end %>
