<h1>Editing article "<%= @article.name %>"</h1>

<% if @article.stores.any? %>
<table class="myTable">
	<tr id="head">
		<th> Associated Store</th>
		<th> </th>
	</tr>
	<% @article.stores.each do |store| %>
		<tr id="content">
			<td> <%= store.name %> </td>
			<td> <%= button_to 'Delete association', delete_store_ref_path(@article,store), method: :post , data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
<% end %>
<br />

<%= render 'form' %>

<div style="display: table-cell;"> <%= button_to 'Show', @article, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Back', articles_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get %> </div>
