<h1>Listing all articles</h1>
<hr />
<hr />

<% if @articles.empty? %>
  <h3 style="font-weight: bolder; color: red;">There are no articles created yet</h3>
<% else %>
<table>
  <tr id="head" >
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr id="content">
    <td><%= article.name %></td>
    <td><%= number_to_currency article.price, :unit => "&euro;", :separator => "," %></td>
    <td><%= button_to 'Show', article, method: :get %></td>
    <td><%= button_to 'Edit', edit_article_path(article), method: :get %></td>
    <td><%= button_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<div style="display: table-cell;"> <%= button_to 'New Article', new_article_path, method: :get%> </div>
<div style="display: table-cell;"> <%= button_to "Home", root_path, method: :get %> </div>
