<h1>Listing all articles</h1>

<% if @articles.empty? %>
  <br />
  <p style="font-weight: bolder; color: red;">There are no articles created yet!!</p>
<% else %>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.price %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

<%= link_to 'New Article', new_article_path %>
<br />
<%= link_to "Show Users", users_path %>