<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency @article.price, :unit=>"&euro;", :separator => "," %>
</p>

<div style="display: table-cell;"> <%= button_to 'Edit', edit_article_path(@article), method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Back', articles_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get %> </div>