<h1>Listing users</h1>

<hr />
<hr />

<% if @users.count > 0 %>
	<table>
	  <tr id="head" >
	    <th>Username</th>
	    <th>Shoppinglist</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	
	<% @users.each do |user| %>
	  <tr id="content">
	    <td><%= user.username %></td>
	    <td><%= button_to 'Shoppinglist', select_user_path(user), method: :get %> </td>
	    <td><%= button_to 'Show', user, method: :get %> </td>
	    <td><%= button_to 'Edit', edit_user_path(user), method: :get %> </td>
	    <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
	  </tr>
	<% end %>
	</table>
	<br />
<% else %>
	<h3 style="font-weight: bolder; color: red;"> No users are created yet </h3>
<% end %>

<div style="display: table-cell;"> <%= button_to 'New User', new_user_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get%> </div>
