<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Shoppinglist:</b>
<% if @user.shoppingList.exists? %>
        <%= link_to "List", :action=>"index", :controller=>"shopping_lists" %>
<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
