<h1>Listing Shopping Lists</h1>

<table>
  <tr>
    <th>Creationdate</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Article</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shopping_lists.each do |shopping_list| %>
  <tr>
    <td><%= shopping_list.creationDate %></td>
    <td><%= shopping_list.name%></td>
    <td><%= link_to shopping_list.user.username, :action => "index", :controller => "users"  %></td>
    <% if !shopping_list.article.blank? %>
        <td><%= shopping_list.article %></td>
    <% else %>
        <td> </td>
    <% end %>
    <td><%= link_to 'Show', shopping_list %></td>
    <td><%= link_to 'Edit', edit_shopping_list_path(shopping_list) %></td>
    <td><%= link_to 'Destroy', shopping_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shopping list', new_shopping_list_path %>
<br />
<% if @user.nil? && @user.blank?%>
    <%= link_to "Create new Article", new_article_path %>
<% end %>
