	<%= form_tag :action => 'add' do %>
		<table style="border-collapse:collapse;" border="1px">
		 	<tr style="text-align: left; background-color:#10DD66;">
		 		<th><%= label_tag 'amount', 'Amount'%></th>
		 		<th><%= label_tag 'article', 'Article' %></th>
		 		<th></th>
		 	</tr>
		 	<tr style="background-color:#AAFFAA;">
		 		<td><%= text_field_tag :amount, nil, :size => 1%></td>
		 		<td><%= select_tag :article_id, options_from_collection_for_select(Article.all, :id, :name), :prompt => "Choose an Article" %></td>
		 		<td><%= submit_tag "Add to List" %></td>
		 	</tr>
	 	</table>
	<% end %>
	
	<br/>
	
	<%= form_tag :action => 'create' do %>
		<table style="border-collapse:collapse;" border="1px">
		 	<tr style="text-align: left; background-color:#10DD66;">
		 		<th><%= label_tag 'amount', 'Amount'%></th>
		 		<th><%= label_tag 'name', 'Article name'%></th>	 		
				<th><%= label_tag 'price', 'Price'%></th>
				<th></th>
			</tr>
			<tr style="background-color:#AAFFAA;">
				<td><%= text_field_tag :amount, nil, :size => 1%></td>
				<td><%= text_field_tag :name, nil, :size => 8%></td>
				<td><%= text_field_tag :price, nil, :size => 1%></td>
				<td><%= submit_tag "Create & Add to List" %></td>
			</tr>
	 	</table>
	<% end %>
