<% if !@current_list.nil? %>
	<h1> Articles of "<%= @current_list.name %>"</h1>
	<table>
  		<tr>
			<th>Amount</th>
			<th>Article</th>
			<th>Price</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	  	<% @articles = @current_list.articles.group(:id) %>
		<% @articles.each do |entry| %>
			<% @list = Listing.where(:article_id => entry.id, :shoppinglist_id => @current_list.id).all %>
			<% @list.each do |listentry| %>
				<tr>
					<td><%= listentry.amount %></td>
					<td><%= entry.name %> </td>
					<td><%= number_to_currency entry.price, :unit=>"&euro; "%></td>
					<td><%= link_to 'Delete entry', listentry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
	<br />
	
	<%= render 'form' %>
	<br />
	
	<%= link_to 'Back to Shoppinglist', shoppinglists_path %> <br/>
<% else %>
	<% Listing.select(:shoppinglist_id).order("shoppinglist_id ASC").group(:shoppinglist_id).each do |list_entry| %>
		<% @current_list = Shoppinglist.find_by_id(list_entry.shoppinglist_id)%>
		<%if !@current_list.articles.nil? %>
			<h3> Articles of "<%= @current_list.name %>" </h3>
			  <table>
			  <tr>
			    <th>Amount</th>
			    <th>Article</th>
			    <th>Price</th>
			    <th></th>
			    <th></th>
			    <th></th>
			  </tr>
			  	<% @articles = @current_list.articles %>
				<% @articles.each do |entry| %>
					<% @list = Listing.find_by_article_id_and_shoppinglist_id(entry.id,@current_list.id) %>
				<tr>
				    <td><%= @list.amount %></td>
				    <td><%= entry.name %> </td>
				    <td><%= number_to_currency entry.price, :unit=>"&euro; " %></td>
				    <td><%= link_to 'Delete entry', @list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<% end %>
			</table>
			<hr />
		<% end %>
	<% end %>
<% end %>

<%= link_to 'Show Users', users_path %>
