<%= form_tag :action => 'add' do %>
	<table class="myTable">
	 	<tr id="head">
	 		<th><%= label_tag 'amount', 'Amount'%></th>
	 		<th><%= label_tag 'article', 'Article' %></th>
	 		<th></th>
	 	</tr>
	 	<tr id="content">
	 		<td><%= text_field_tag :amount, nil, :size => 1%></td>
	 		<td>
	 			<%= select_tag :article_id, 
	 				options_for_select( Article.order("name ASC, price ASC").all.map { |a| [ a.name + ", " + number_to_currency(a.price, :unit => "€", :separator => ",") , a.id] }),
	 				:prompt => "Choose an Article"
				%>
	 		</td>
	 		<td><%= submit_tag "Add to List" %></td>
	 	</tr>
 	</table>
<% end %>

<br/>

<%= form_tag :action => 'create' do %>
	<table class="myTable">
	 	<tr id="head">
	 		<th><%= label_tag 'amount', 'Amount'%></th>
	 		<th><%= label_tag 'name', 'Article name'%></th>	 		
			<th><%= label_tag 'price', 'Price'%></th>
			<th></th>
		</tr>
		<tr id="content">
			<td><%= text_field_tag :amount, nil, :size => 1%></td>
			<td><%= text_field_tag :name, nil, :size => 8%></td>
			<td><%= text_field_tag :price, nil, :size => 1%></td>
			<td><%= submit_tag "Create & Add to List" %></td>
		</tr>
 	</table>
<% end %>
