<h1>Editing article "<%= @article.name %>"</h1>

<% if @article.stores.any? %>
<table class="myTable">
	<tr id="head">
		<th> Associated Store</th>
		<th> </th>
	</tr>
	<% @article.stores.each do |store| %>
		<tr id="content">
			<td> <%= store.name %> </td>
			<td> <%= button_to 'Delete association', delete_store_ref_path(@article,store), method: :post , data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
<% end %>
<br />

<%= render 'form' %>

<br />

<% if !params[:list_id].nil? %>
	<% @current_list = Shoppinglist.find_by_id(params[:list_id]) %>
<div style="display: table-cell;"> <%= button_to 'Articles of ' + @current_list.name, select_shoppinglist_path(@current_list), method: :get %> </div>
<% end %>
<div style="display: table-cell;"> <%= button_to 'All Articles', articles_path, method: :get %> </div>
<div style="display: table-cell;"> <%= button_to 'Home', root_path, method: :get %> </div>
